/* src/components/EditSpotForm/EditSpotForm.css */

.edit-spot-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .edit-spot-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .edit-spot-form form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-spot-form label {
    margin-bottom: 15px;
  }
  
  .edit-spot-form input,
  .edit-spot-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  .edit-spot-form button {
    padding: 10px 20px;
    background-color: #386641;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .edit-spot-form button:hover {
    background-color: #6A994E;
  }
  
  .errors {
    color: red;
    margin-bottom: 20px;
  }
  