.login-modal {
  padding: 20px;
  max-width: 400px;  
  margin: 0 auto;  
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.login-modal h1 {
  text-align: center;
  color: var(--indigo);
  margin-bottom: 20px;
}

.login-modal form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure all items (inputs/buttons) are centered */
}

.login-modal label {
  margin-bottom: 10px;
  color: var(--indigo);
  font-weight: bold;
  width: 100%;  /* Ensure the label takes full width */
  text-align: left;  /* Align label text to the left */
}

.login-modal input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  font-size: 16px;
  width: 100%;  /* Make input fields take full width */
  box-sizing: border-box;  /* Include padding in the element's width */
}

.login-modal button[type="submit"] {
  padding: 10px;
  width: 100%;  /* Make the button take full width */
  background-color: var(--gray);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-modal button.active {
  background-color: var(--vibrant-green);
  cursor: pointer;
}

.login-modal button.active:hover {
  background-color: var(--dark-blue);
}

.login-modal .demo-user {
  margin-top: 15px;
  text-align: center;
}

.login-modal .demo-user button {
  background: none;
  border: none;
  color: var(--vibrant-green);
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease;
}

.login-modal .demo-user button:hover {
  color: var(--dark-blue);
}
