/* LoginForm.css */

.login-modal {
  padding: 20px;
}

.login-modal h1 {
  text-align: center;
  color: var(--indigo);
  margin-bottom: 20px;
}

.login-modal form {
  display: flex;
  flex-direction: column;
}

.login-modal label {
  margin-bottom: 5px;
  color: var(--indigo);
  font-weight: bold;
}

.login-modal input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  font-size: 16px;
}

.login-modal .error {
  color: var(--crayola-red);
  margin-bottom: 10px;
}

.login-modal button[type="submit"] {
  padding: 10px;
  background-color: var(--gray);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-modal button[type="submit"].active {
  background-color: var(--vibrant-green);
  cursor: pointer;
}

.login-modal button[type="submit"]:hover {
  background-color: var(--dark-blue);
}

.login-modal .demo-user {
  margin-top: 15px;
  text-align: center;
}

.login-modal .demo-user button {
  background: none;
  border: none;
  color: var(--vibrant-green);
  cursor: pointer;
  font-size: 16px;
}

.login-modal .demo-user button:hover {
  color: var(--dark-blue);
}
