/* frontend/src/components/SignupFormPage/SignupForm.css */

.signup-modal {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.signup-modal h1 {
  text-align: center;
  color: var(--indigo);
  margin-bottom: 20px;
}

.signup-modal form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.signup-modal label {
  margin-bottom: 10px;
  color: var(--indigo);
  font-weight: bold;
  width: 100%; 
  text-align: left;
}

.signup-modal input:focus {
  border-color: var(--vibrant-green); 
  outline: none;
}


.signup-modal input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  font-size: 16px;
  width: 100%; 
  box-sizing: border-box;
}

.signup-modal button[type="submit"] {
  padding: 10px;
  width: 100%;
  background-color: var(--gray);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  font-size: 16px;
  transition: background-color 0.3s ease, cursor 0.3s ease; 
}


.signup-modal button.active {
  background-color: var(--vibrant-green);
  cursor: pointer;
}

.signup-modal button.active:hover {
  background-color: var(--dark-blue);
}

.signup-modal p.error-message {
  color: var(--crayola-red); 
  font-size: 14px;
  margin-bottom: 15px;
  text-align: left;
  width: 100%; 
}

.signup-modal .error-container {
  color: var(--crayola-red);
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  padding-top: 10px;
}
