.header {
  background-color: var(--vibrant-green);
  padding: 1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-link {
  text-decoration: none;
}

.logo-image {
  height: 50px;
  margin-top: 1rem;
  position: relative;
  display: flex; 
  align-items: center; 

}

.nav-menu {
  display: flex;
  align-items: center;
}

.create-spot-link {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  margin-right: 1.5rem; 
  display: flex;
  align-items: center; 
}

.profile-button button:hover {
  color: var(--crayola-red);
}

.profile-button {
  position: relative;
  display: flex; 
  align-items: center; 
}

.profile-button button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: var(--white);
margin-top: 1rem
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: var(--white);
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  padding: 10px 0;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  width: 200px;
  z-index: 1000;
}

.profile-dropdown li {
  padding: 8px 20px;
  list-style-type: none;
}

.profile-dropdown a,
.profile-dropdown button {
  background: none;
  border: none;
  color: var(--indigo);
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.profile-dropdown a:hover,
.profile-dropdown button:hover {
  color: var(--vibrant-green);
}

@media (max-width: 768px) {
  .create-spot-link {
    display: none;
  }
}
