.profile-button {
  position: relative;
  display: flex; 
  align-items: center; 
}

.profile-button .combined-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 36px;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0px;
  opacity: 87%;
 
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: var(--white);
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  padding: 10px 0;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  width: 200px;
  z-index: 1000;
}

.profile-dropdown li {
  padding: 8px 20px;
  list-style-type: none;
}

.profile-dropdown a,
.profile-dropdown button {
  background: none;
  border: none;
  color: var(--indigo);
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.profile-dropdown a:hover,
.profile-dropdown button:hover {
  color: var(--vibrant-green);
}
